*{
    box-sizing: border-box;
}
body {
    background: url("image/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url("image/background.jpg"); */
}
#wrapper{
    width: 700px ;
    margin: auto;
}
#header{
    background: linear-gradient(to right, #ffffff, #fffee9); 
    /* display: flex;  */
    height: 650px;
}
#header .text1{
  text-align: center; 
  font-size: 20px;
  font-weight:  bold;
  color: black;
  margin: 5px;
}
#header #logo{
  width: 170px;
  height: 170px; 
  margin: auto;
  text-align: center;
  display: flex;
} 
#header .text2{
  font-weight:  bold;
  text-align: center; 
  font-size: 30px;
  color: black;
  margin: 5px;
}
#header .text3{
  text-align: center; 
  font-size: 22px;
  font-weight:  bold;
  color: black;
  margin: 5px;
}
#ten1 {
  display: flex;
}
#ten1 h1, h2{
  font-size: 17px;
  font-weight:  bold;
  color: black;
  margin-left: 30px;
  margin-top: 0px;
  flex-basis: 50%;
  display: flex;
}
#ten2 {
  display: flex;
}
#ten2 h1, h2{
  font-size: 17px;
  font-weight:  bold;
  color: black;
  margin-left: 30px;
  margin-top: 0px;
  flex-basis: 50%;
  display: flex;
}
#header .text4{
  font-size: 17px;
  font-weight:  bold;
  color: black;
  margin-left: 30px;
  margin-top: 0px;
  flex-basis: 50%;
  display: flex;
}
#header .text5{
  text-align: center; 
  font-size: 17px;
  color: black;
  margin-left: 30px;
  margin-top: 0px;
  flex-basis: 50%;
  display: flex;
}
#main-content{
    display: flex;
    height: 800px;
}
#content h2{
    text-align: center;
}
#content{
    flex-basis: 100%;
    background: linear-gradient(to right, #dde3e4, #b7cce1); 
    /* background-image: url("image/farm.jpg"); */
}
#thietbi1 {
    display: flex;
    height: 250px;
    text-align: center;
    margin-top: 0px;
    color: black;
}
.state {
  color:#5757d9;
  font-weight: bold;
  font-size: large;
}
#quat1 {
    flex-basis: 50%;
    border-style: inset;
    width: 200px;
    height: 200px;
}
img#quat11 {
    /* margin:5px; */
    width: 120px;
    height: 120px;
    margin-left: -160px;
    margin-top: 10px;
}
#quat1 h3 {
    margin-top: -35%;
    margin-left: 120px;
}
#quat2 {
    flex-basis: 50%;
    border-style: inset;
    width: 200px;
    height: 200px;
}
img#quat22 {
    /* margin:5px; */
    width: 120px;
    height: 120px;
    margin-left: -160px;
    margin-top: 10px;
}
#quat2 h3 {
    margin-top: -35%;
    margin-left: 120px;
}
#quat2 h2 {
    margin-top: -20px;
}

/* thiet bi 2 */
#thietbi2 {
  display: flex;
  height: 250px;
  text-align: center;
  margin-top: -50px;
  color: black;
}
#den1 {
  flex-basis: 50%;
  border-style: inset;
  width: 200px;
  height: 200px;
}
img#den11 {
  /* margin:5px; */
  width: 120px;
  height: 120px;
  margin-left: -160px;
  margin-top: 10px;

}
#den1 h3 {
  margin-top: -35%;
  margin-left: 120px;
}
#den2 {
  flex-basis: 50%;
  border-style: inset;
  width: 200px;
  height: 200px;
}
img#den22 {
  /* margin:5px; */
  width: 120px;
  height: 120px;
  margin-left: -160px;
  margin-top: 10px;
}
#den2 h3 {
  margin-top: -35%;
  margin-left: 120px;
}
#den2 h2 {
  margin-top: -20px;
}

/* thiet bi 3 */
#thietbi3 {
  display: flex;
  height: 250px;
  text-align: center;
  margin-top: -50px;
  color: black;
}
#den3 {
  flex-basis: 50%;
  border-style: inset;
  width: 200px;
  height: 200px;
}
img#den33 {
  /* margin:5px; */
  width: 120px;
  height: 120px;
  margin-left: -160px;
  margin-top: 10px;

}
#den3 h3 {
  margin-top: -35%;
  margin-left: 120px;
}
#den4 {
  flex-basis: 50%;
  border-style: inset;
  width: 200px;
  height: 200px;
}
img#den44 {
  /* margin:5px; */
  width: 120px;
  height: 120px;
  margin-left: -160px;
  margin-top: 10px;
}
#den4 h3 {
  margin-top: -35%;
  margin-left: 120px;
}
#den4 h2 {
  margin-top: -20px;
}

/* thiet bi 4 */
#thietbi4 {
  display: flex;
  height: 250px;
  text-align: center;
  margin-top: -50px;
  color: black;
}
#den5 {
  flex-basis: 50%;
  border-style: inset;
  width: 200px;
  height: 200px;
}
img#den55 {
  /* margin:5px; */
  width: 120px;
  height: 120px;
  margin-left: -160px;
  margin-top: 10px;

}
#den5 h3 {
  margin-top: -35%;
  margin-left: 120px;
}
#den5 .state {
  margin-left: 110px;
}
#quat3 {
  flex-basis: 50%;
  border-style: inset;
  width: 200px;
  height: 200px;
}
img#quat33 {
  /* margin:5px; */
  width: 120px;
  height: 120px;
  margin-left: -160px;
  margin-top: 10px;
}
#quat3 h3 {
  margin-top: -35%;
  margin-left: 120px;
}
#quat3 .state {
  margin-left: 110px;
}

#footer{
    background: rgb(99, 151, 64);
    background: linear-gradient(to right, #b7c9ad, #57b4bb); 
    height: 500px;
}
#footer .text1 { 
  text-align: center; 
  font-size: 17px;
  color: black;
  margin-left: 30px;
  margin-top: 0px;
  flex-basis: 50%;
  display: flex;
}
/* nut nhan 1 */
.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 5.2em;
    height: 2em;
    overflow: hidden;
    margin-left: 115px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    border-radius: 20px;
    border: 1px solid #333;
    left: 0.4em;
    bottom: 0.2em;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(3em);
  }
  
  .switch .text {
    position: absolute;
    top: 50%;
    pointer-events: none;
    text-transform: uppercase;
    transform: translateY(-50%);
    transition: .4s;
  }
  
  .switch .text.on {
    left: .8rem;
    transform: translateX(-3rem) translateY(-50%);
  }
  
  .switch .text.off {
    color: #999;
    right: .8rem;
  }
  
  input:checked ~ .text.off {
    transform: translateX(3rem) translateY(-50%);
  }
  
  input:checked ~ .text.on {
    transform: translateX(0) translateY(-50%);
  }


  
  